.p {
    
    font-family: 'Segoe UI', 'Times New Roman', Times, serif, Geneva, Verdana, sans-serif;
    color: #008993;
    text-align: center;
    font-size: 60px;
    top: 300px;
    left: 300px;
    position: relative;
    top: 400px;
    left: 150px;
    right: 10px;
    
    }
.g {
    font-family: 'Segoe UI', 'Times New Roman', Times, serif, Geneva, Verdana, sans-serif;
    color: #008993;
    text-align: center;
    font-size: 60px;
    position: relative;
    top: 400px ;
    left: 500px;
    right: 10px;
    }
.n {
    font-family: 'Segoe UI', 'Times New Roman', Times, serif, Geneva, Verdana, sans-serif;
    color: #008993;
    text-align: center;
    font-size: 60px;
    position: relative;
    top: 200px ;
    left: 10px;
    right: 10px;
    
    }